@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{ 
    /* Remove any spacing */
    margin: 0;
    padding: 0;

    /* Other styling */
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;               /* No style on any list. Aka remove the bullets or roman*/
    font-family: "Poppins", sans-serif;
    color: lavender;
}

html{
    background: #376384;
    color: lavender;
}

.mainText{
    text-align: center; 
    margin: 100px 0;
}


  


